{% extends "base.html.twig" %}

{% block body %}
<div class="statues">
    <div class="statues__container-products">
        {% for statue in statues %}
            <twig:StatuaCard 
                name="{{ statue.nome }}"
                url="{{ statue.url }}"
                description="{{ statue.descrizione }}"
                materials="{{ statue.materiali }}"
                quantity="{{ statue.quantita }}"
                price="{{ statue.prezzo }}"
                shipping="{{ statue.spedizione }}"
                image="{{ statue.file }}"
            />
        {% endfor %}
    </div>
</div>
{% endblock %}